@import url("../scss/fonts.css");
* {
  margin: 0;
  padding: 0;
}

body {
  width: 1920px;
  font-family: 'Raleway', sans-serif;
  background: url(../img/header-bg.jpg) grey top no-repeat;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 150px 0 375px;
}

.header-logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 34px;
  letter-spacing: -1.36px;
  color: #ffffff;
  height: 24px;
  margin: 15px 0 0 0;
}

.header-logo-link:hover,
.header-logo-link:focus {
  color: #c7b299;
}

.header-logo-triangle:focus,
.header-logo-triangle:hover {
  fill: #c7b299;
}

.header-logo-triangle {
  fill: CurrentColor;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}

.header-nav-list {
  margin: 22px 0 290px 219px;
}

.header-nav-list a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.header-nav-list-item {
  margin: 0 30px 0 0;
}

.header-nav-list-item:nth-child(2) {
  white-space: nowrap;
}

.header-nav-list-item a:focus,
.header-nav-list-item a:hover {
  color: #c7b299;
}

.header-invenory-icon {
  margin: 20px 28px 0 33px;
}

input[type="search"] {
  margin: 20px 0 0 0;
  width: 30px;
  height: 30px;
  outline: none;
  background: url(../img/header-search.png) no-repeat;
  border: none;
  cursor: pointer;
}

input[type="search"]:focus {
  width: 200px;
  height: 25px;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
  background-position: right;
  background-color: #998675;
  opacity: 0.5;
  color: white;
}

.header-nav svg {
  fill: white;
}

.header-nav svg:hover {
  fill: #c7b299;
  cursor: pointer;
}

.template {
  padding: 0 150px 30px 150px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.template-leftarrow {
  display: block;
  width: 60px;
  height: 60px;
  margin: 30px;
  border: none;
  border-top: 2px solid white;
  border-right: 2px solid white;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  opacity: 0.5;
  margin: 60px 0 0 0;
}

.template-rightarrow {
  display: block;
  width: 60px;
  height: 60px;
  margin: 30px;
  border: none;
  border-top: 2px solid white;
  border-right: 2px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0.5;
  margin: 60px 0 0 0;
}

.template-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.template-title {
  font-size: 36px;
  font-weight: 500;
  color: #ffffff;
  margin: 0 0 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.template-title-template {
  font-size: 52px;
  font-weight: 800;
  color: #ffffff;
  margin: 0 0 15px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.template-title-about {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 562px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 52px 0;
}

.template-button {
  padding: 15px 15px;
  color: white;
  outline: none;
  border: none;
  text-transform: uppercase;
  width: 170px;
  background-color: #998675;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px -3px 0 0 #736357;
          box-shadow: inset 0px -3px 0 0 #736357;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.64;
  margin: 0 0 330px 0;
}

.template-button:hover,
.template-button:focus {
  background-color: white;
  color: #998675;
  cursor: pointer;
}

.template-radio-button {
  margin: 0 9px 0 0;
  width: 11px;
  height: 11px;
  opacity: 0.5;
  background-color: #ffffff;
}

.template-radio-button:active {
  background: transparent;
}

.features {
  padding: 80px 376px 80px 376px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 266px;
  fill: #555555;
}

.features-about:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}

.features-about:hover .features-svg {
  fill: #c7b299;
}

.features-about:hover .features-title {
  color: #c7b299;
}

.features-about:hover:after {
  background-color: #c7b299;
}

.features-svg {
  margin: 0 0 29px 0;
}

.features-title {
  font-size: 22px;
  font-weight: 600;
  color: #555555;
  margin: 0 0 19px 0;
}

.features-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  color: #8c8c8c;
  margin: 0 0 27px 0;
}

.realization {
  padding: 83px 345px 0 345px;
  background-color: #fbfaf8;
}

.real-title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #555555;
  margin: 0 0 24px 0;
}

.real-text {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  text-align: center;
  color: #8c8c8c;
  width: 757px;
  margin: 0 auto 10px auto;
}

.real-screenshots {
  min-height: 482px;
  width: 100%;
  background-image: url(../img/real-screen-center.png), url(../img/real-screen-left.png), url(../img/real-screen-right.png);
  background-size: 60%, 60%, 60%;
  background-repeat: no-repeat;
  background-position: bottom center, bottom left, bottom right;
}

.purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 150px;
  padding: 48px 375px 48px 375px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19, #4e3427);
}

.purchase-title {
  font-size: 28px;
  font-weight: 300;
  color: #ffffff;
  margin: 0 445px 8px 0;
}

.purchase-title span {
  color: #c7b299;
}

.purchase-text {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 300;
  color: #615855;
}

.purchase-button {
  font-size: 14px;
  font-weight: 800;
  line-height: 1.64;
  text-align: center;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  width: 170px;
  min-height: 50px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px -3px 0 0 #736357;
          box-shadow: inset 0px -3px 0 0 #736357;
  background-color: #998675;
  border: none;
  outline: none;
}

.purchase-button:hover,
.purchase-button:focus {
  background-color: white;
  color: #998675;
  cursor: pointer;
}

.projects {
  padding: 80px 375px;
  background-color: #fff;
}

.projects-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 40px 0;
}

.projects-title {
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #555555;
  margin: 0 0 24px 0;
}

.projects-title-text {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  text-align: center;
  color: #8c8c8c;
  width: 757px;
}

.projects-buttons {
  margin: 0 0 0 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-buttons-pick {
  border-radius: 3px;
  background-color: #fff;
  color: #8c8c8c;
  margin: 0 10px 40px 0;
  width: 70px;
  height: 32px;
  outline: none;
  border-radius: 3px;
  border: solid 1px #ebebeb;
}

.projects-buttons-pick:nth-child(2) {
  width: 120px;
  height: 32px;
}

.projects-buttons-pick:nth-child(3) {
  width: 120px;
  height: 32px;
}

.projects-buttons-pick:nth-child(4) {
  width: 120px;
  height: 32px;
}

.projects-buttons-pick:nth-child(5) {
  width: 135px;
  height: 32px;
}

.projects-buttons-text {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
}

.projects-buttons-pick:focus,
.projects-buttons-pick:hover {
  background-color: #998675;
  color: #fff;
  cursor: pointer;
}

.projects-examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 40px 0;
}

.projects-examples-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  position: relative;
}

.projects-article-wrapper {
  background-color: #fbfaf8;
  position: relative;
  width: 100%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.projects-article-wrapper:before {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -20px;
  left: 19px;
}

.projects-examples-cards:nth-child(1),
.projects-examples-cards:nth-child(2),
.projects-examples-cards:nth-child(3) {
  margin: 0 0 20px 0;
}

.projects-example-cards-title {
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 500;
  color: #c7b299;
  margin: 0 0 0 29px;
}

.projects-example-cards-text {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  color: #d1d1d1;
  margin: 0 0 0 29px;
}

.card-button-link,
.card-button-search {
  width: 20px;
  height: 20px;
  display: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 35%;
}

.card-button-link {
  left: 40%;
  outline: none;
  fill: #fff;
}

.card-button-search {
  right: 40%;
  outline: none;
  fill: #fff;
}

.projects-examples-cards:hover .card-button-link {
  display: block;
  cursor: pointer;
}

.projects-examples-cards:hover .card-button-search {
  display: block;
  cursor: pointer;
}

.projects-examples-cards:hover .card-button-link:hover {
  fill: #c7b299;
}

.projects-examples-cards:hover .card-button-search:hover {
  fill: #c7b299;
}

.projects-examples-cards:hover .projects-examples-cards-img {
  -webkit-filter: brightness(35%);
          filter: brightness(35%);
}

.projects-examples-cards:hover .projects-article-wrapper {
  background-color: #362f2d;
}

.projects-examples-cards:hover .projects-article-wrapper:before {
  border-bottom: 10px solid #362f2d;
}

.projects-examples-cards:hover .projects-example-cards-title {
  color: #fff;
}

.projects-examples-cards:hover .projects-example-cards-text {
  color: #c7b299;
}

.more-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.more-wrapper .purchase-button:hover,
.more-wrapper .purchase-button:focus {
  background-color: #615855;
  color: #fff;
}

.mw-video {
  height: 705px;
  width: 100%;
  position: relative;
}

.video-file {
  -o-object-fit: cover;
     object-fit: cover;
  width: 1902px;
  z-index: 0;
}

.poster {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.video-pb {
  fill: #fff;
  margin: 210px 0 44px 0;
}

.video-pb:hover {
  fill: #c7b299;
  cursor: pointer;
}

.video-title {
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  z-index: 2;
  margin: 0 0 30px 0;
}

.video-text {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  text-align: center;
  color: #ffffff;
  max-width: 551px;
  margin: 0 0 40px 0;
}

.video-time {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #c7b299;
}

.mobile {
  padding: 0 380px 0 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fbfaf8;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-pic {
  margin: 80px 30px 0 0;
}

.mobile-title {
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  color: #555555;
  margin: 0 0 40px 0;
}

.mobile-text {
  font-family: 'Montserrat';
  font-size: 16px;
  min-width: 657px;
  font-weight: 300;
  line-height: 1.75;
  color: #8c8c8c;
  margin: 0 0 45px 0;
}

.mobile-list {
  margin: 0 0 0 130px;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  text-align: left;
  color: #8c8c8c;
}

.mobile-list-item {
  position: relative;
  list-style-type: none;
}

.mobile-list-item:before {
  content: '';
  position: absolute;
  left: -60px;
  top: 5px;
  width: 21px;
  height: 21px;
  background-image: url(../img/list-arrows.png);
}

.stats {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 515px;
  width: 100%;
  min-height: 300px;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19, #4e3427);
}

.stats-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats-icon {
  fill: #c7b299;
  margin-bottom: 30px;
}

.stats-number {
  font-family: 'Montserrat';
  font-size: 48px;
  font-weight: 200;
  line-height: 0.75;
  color: #ffffff;
  margin-bottom: 21px;
}

.stats-title {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  color: #c7b299;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.stats-about:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #f1eee9;
}

.recent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 375px 70px 375px;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent-title {
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #555555;
  margin: 0 0 30px 0;
}

.recent-text {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  text-align: center;
  color: #8c8c8c;
  max-width: 750px;
  margin: 0 0 40px 0;
}

.recent-posts {
  border: solid 1px #f8f8f8;
  position: relative;
}

.recent-date {
  content: '';
  position: absolute;
  width: 50px;
  height: 60px;
  top: 29px;
  left: 29px;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat';
  font-weight: 300;
  line-height: 0.83;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.date-number {
  border-radius: 3px 3px 0 0;
  background-color: #363636;
  height: 35px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.date-month {
  border-radius: 0 0 3px 3px;
  background-color: #252525;
  height: 25px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recent-posts:hover .date-number {
  background-color: #c7b299;
}

.recent-posts:hover .date-month {
  background-color: #a48d72;
}

.recent-posts:hover .recent-cards-img {
  -webkit-filter: brightness(35%);
          filter: brightness(35%);
}

.recent-posts:hover {
  background-color: #362f2d;
}

.recent-posts:hover .recent-cards-title {
  color: #c7b299;
}

.recent-posts:hover .recent-cards-text {
  color: #ffffff;
}

.recent-posts:hover .recent-link {
  color: #c7b299;
}

.recent-posts:hover .recent-link:hover {
  color: #fff;
}

.recent-article-cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 0 27px;
}

.recent-cards-img {
  margin: 0 0 30px 0;
}

.recent-cards-title {
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #555555;
  margin: 0 0 19px 0;
}

.recent-cards-text {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  text-align: left;
  color: #8c8c8c;
  max-width: 300px;
  margin: 0 0 27px 0;
}

.recent-link {
  margin: 0 0 30px 0;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  color: #d1d1d1;
  max-width: 80px;
  position: relative;
}

.recent-link:after {
  content: '';
  position: absolute;
  border: 5px solid transparent;
  border-left: 5px solid #d1d1d1;
  top: 6px;
  right: -15px;
}

.recent-posts-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 0 40px 0;
}

.recent-arrow-left,
.recent-arrow-right {
  fill: #d1d1d1;
}

.recent-arrow-left:hover,
.recent-arrow-right:hover {
  fill: #c7b299;
  cursor: pointer;
}

.other-pr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 489px;
  background-image: url(../img/other-bg.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.other-links img {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.other-links img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer-header {
  background-color: #191919;
  min-height: 550px;
}

.footer-container {
  min-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 230px;
}

.footer-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 34px;
  letter-spacing: -1.36px;
  color: #ffffff;
  height: 24px;
  margin: 0 0 45px 0;
}

.footer-logo-link:hover,
.footer-logo-link:focus {
  color: #c7b299;
}

.footer-logo-triangle:focus,
.footer-logo-triangle:hover {
  fill: #c7b299;
}

.footer-logo-triangle {
  fill: CurrentColor;
}

.footer-about-text {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: left;
  color: #555555;
  max-width: 260px;
  margin: 0 0 33px 0;
}

.footer-about-link {
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #d1d1d1;
  max-width: 80px;
  position: relative;
}

.footer-about-link:hover,
.footer-about-link:focus {
  color: #c7b299;
}

.footer-about-link:after {
  content: '';
  position: absolute;
  border: 5px solid transparent;
  border-left: 5px solid #d1d1d1;
  top: 6px;
  right: -15px;
}

.footer-posts {
  width: 270px;
  max-height: 300px;
}

.footer-posts-title {
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  margin: 0 0 33px 0;
}

.footer-posts-date {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  text-align: left;
  color: #363636;
}

.footer-posts-text {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  text-align: left;
  color: #555555;
  max-width: 290px;
  margin: 0 0 21px 0;
}

.footer-hr {
  height: 2px;
  background-color: #252525;
  border: 0px none;
  margin: 0 0 20px 0;
}

.footer-twitter {
  max-height: 300px;
  width: 270px;
}

.twitter-text {
  margin: 0;
}

.twitter-date {
  margin: 0 0 22px 0;
}

.footer-widget {
  max-height: 300px;
  margin: 0 0 15px 0;
}

.footer-widget-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.widget-link {
  margin: 0 10px 10px 0;
}

.widget-img:hover {
  -webkit-filter: brightness(35%);
          filter: brightness(35%);
}

.hashteg {
  color: #3cc5f3;
  cursor: pointer;
}

.linked {
  color: grey;
  text-decoration: underline;
  cursor: pointer;
}

.posts-wrapper:hover .footer-posts-date {
  color: #fff;
}

.posts-wrapper:hover .footer-posts-text {
  color: #c7b299;
}

.footer-footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #111111;
  min-height: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 350px 0 300px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  color: #555555;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright a {
  color: #959595;
  text-decoration: none;
}

.copyright a:hover,
.copyright a:focus {
  color: #c7b299;
}

.design {
  width: 320px;
}
/*# sourceMappingURL=style.css.map */